<div id="navsContainer">
    <div id="canvasNav"> 
        <div id="content">
            <h1>CANVAS EXAMPLES</h1>
            <a href="#modal1"><img id="truckSM" src="public/icons/SM/SS-SM-Truck.png" width="50px"></a>
            <a href="#modal2"><img id="storeSM" src="public/icons/SM/SS-SM-Storage.png" width="50px"></a>
            <a href="#modal3"><img id="houseSM" src="public/icons/SM/SS-SM-House.png" width="50px"></a>
            <a href="#modal4"><img id="kittySM" src="public/icons/SM/SS-SM-Kitty.png" width="50px"></a>
            <a href="#modal5"><img id="hudSM" src="public/icons/SM/SS-SM-FPS_Hud.png" width="50px"></a>
            <a href="#modal6"><img id="antfarmSM" src="public/icons/SM/SS-SM-Antfarm.png" width="50px"></a>

        <a href="#modal7"><img id="cubesSM" src="public/icons/SM/SS-SM-Cubes.png" width="50px"></a>
        <a href="#modal8"><img id="spikesSM" src="public/icons/SM/SS-SM-Spikes.png" width="50px"></a>
        <a href="#modal9"><img id="eyesSM" src="public/icons/SM/SS-SM-Eyes.png" width="50px"></a>
        <a href="#modal10"><img id="spinSM" src="public/icons/SM/SS-SM-Spin.png" width="50px"></a>        
        <a href="#modal11"><img id="multiSM" src="public/icons/SM/SS-SM-Multi.png" width="50px"> </a>
        <a href="#modal12"><img id="pongSM" src="public/icons/SM/SS-SM-pong.png" width="50px"></a>
    </div>
    </div>  
</div>