<div id="header">
    <h1><a  href="index">Canvas Fun</a></h1>
    <div id="headLinkContainer">
        <a class="headLink" href="truck">Truck</a>
        <a class="headLink" href="store">Storage</a>
        <a class="headLink" href="house">House</a>
        <a class="headLink" href="kitty">Kitty</a>
        <a class="headLink" href="hud">FPS Hud</a>
        <a class="headLink" href="antfarm">Antfarm</a>

        <a class="headLink" href="cubes">Cubes</a>
        <a class="headLink" href="spikes">Spikes</a>
        <a class="headLink" href="eyes">Eyes</a>
        <a class="headLink" href="spin">Spin</a>
        <a class="headLink" href="multi">Multi</a>
        <a class="headLink" href="pong">Pong</a>
        <a class="headLink" href="sidescroll">SideScroll</a>
    </div>
</div>