<div id="canvasModals">
    <div id="modal1">
        <div class="modalHeader">
            <h1>Truck Canvas</h1>
            <a class="modalClose" href="#">X</a>
            <h1 class="descriptionText">With the help of this canvas users can have a better understanding of the best way to move their belongings.</h1>
        </div>
        <a href="truck"><img id="iconLG" src="public/icons/LG/SS-LG-Truck.png" width="200px"></a>
    </div>

    <div id="modal2">
        <div class="modalHeader">
            <h1>Storage Canvas</h1>
            <a class="modalClose" href="#">X</a>
            <h1 class="descriptionText">With the help of this canvas users can have a better understanding of the best way to store boxes in their closet.</h1>
        </div>
        <a href="store"><img id="iconLG" src="public/icons/LG/SS-LG-Storage.png" width="200px">
    </div>
    <div id="modal3">
        <div class="modalHeader">
            <h1>House Canvas</h1>
            <a class="modalClose" href="#">X</a>
            <h1 class="descriptionText">This canvas is an experiment to visualize a structured environment, with elements overlapping based on a users perspective.</h1>
        </div>
        <a href="house"><img id="iconLG" src="public/icons/LG/SS-LG-House.png" width="200px"></a>
    </div>
    <div id="modal4">
        <div class="modalHeader">
            <h1>Kitty Canvas</h1>
            <a class="modalClose" href="#">X</a>
            <h1 class="descriptionText">A user can select a ball of yarn, that an animated kitty will interact with.</h1>                
        </div>
        <a href="kitty"><img id="iconLG" src="public/icons/LG/SS-LG-Kitty.png" width="200px"></a>
    </div>
    <div id="modal5">
        <div class="modalHeader">
            <h1>FPS Hud Canvas</h1>
            <a class="modalClose" href="#">X</a>
            <h1 class="descriptionText">This canvas simulates a FPS hud screen. Complete with clickable and reloadable ammo, health bar, pinging radar and target rectile.</h1>
        </div>
        <a href="hud"><img id="iconLG" src="public/icons/LG/SS-LG-FPS_Hud.png" width="200px"></a>
    </div>
    <div id="modal6">
        <div class="modalHeader">
            <h1>Antfarm Canvas</h1>
            <a class="modalClose" href="#">X</a>
            <h1 class="descriptionText">In this canvas experiment a user can enjoy a simulated antfarm.</h1>
        </div>
        <a href="antfarm"><img id="iconLG" src="public/icons/LG/SS-LG-Antfarm.png" width="200px"></a>
    </div>
    
    <div id="modal7">
        <div class="modalHeader">
            <h1>Cubes Canvas</h1>
            <a class="modalClose" href="#">X</a>
            <h1 class="descriptionText">In this canvas experiment a user can experience 3D cubes, simulating depth and perspective.</h1>
        </div>
        <a href="cubes"><img id="iconLG" src="public/icons/LG/SS-LG-Cubes.png" width="200px"></a>
    </div>
    <div id="modal8">
        <div class="modalHeader">
            <h1>Spikes Canvas</h1>
            <a class="modalClose" href="#">X</a>
            <h1 class="descriptionText">In this canvas experiment a user can experience pointy elements, that point based on a users perspective.</h1>
        </div>
        <a href="spikes"><img id="iconLG" src="public/icons/LG/SS-LG-Spikes.png" width="200px"></a>
    </div>
    <div id="modal9">
        <div class="modalHeader">
            <h1>Eyes Canvas</h1>
            <a class="modalClose" href="#">X</a>
            <h1 class="descriptionText">In this canvas experiment an interactive avatar will react to a user clicks and moves.</h1>
        </div>
        <a href="eyes"><img id="iconLG" src="public/icons/LG/SS-LG-Eyes.png" width="200px"></a>
    </div>
    <div id="modal10">
        <div class="modalHeader">
            <h1>Spin Canvas</h1>
            <a class="modalClose" href="#">X</a>
            <h1 class="descriptionText">In this canvas experiment a user can make elements spin through clicking within the canvas.</h1>
        </div>
        <a href="spin"><img id="iconLG" src="public/icons/LG/SS-LG-Spin.png" width="200px"></a>
    </div>
    <div id="modal11">
        <div class="modalHeader">
            <h1>Multi Canvas</h1>
            <a class="modalClose" href="#">X</a>
            <h1 class="descriptionText">In this canvas experiment a user can interact with multiple canvases on a single page.</h1>
        </div>
        <a href="multi"><img id="iconLG" src="public/icons/LG/SS-LG-Multi.png" width="200px"></a>
    </div>
    <div id="modal12">
        <div class="modalHeader">
            <h1>Pong Canvas</h1>
            <a class="modalClose" href="#">X</a>
            <h1 class="descriptionText">With this canvas a user can play the classic arcade game of Pong.</h1>
        </div>
        <a href="pong"><img id="iconLG" src="public/icons/LG/SS-LG-Pong.png" width="200px"></a>
    </div>
    <div id="modal13">
        <div class="modalHeader">
            <h1>Side Scroll Canvas</h1>
            <a class="modalClose" href="#">X</a>
            <h1 class="descriptionText">A side scroller canvas game.</h1>
        </div>
        <a href="sidescroll"><img id="iconLG" src="public/icons/LG/SS-LG-Construction.png" width="250px"></a>
    </div>
</div>   