<!DOCTYPE html>
<html>
<head>
    <link href= "/public/assets/indexStyles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../styles/antfarm.css" type="text/css" />
</head>

<body>

    js <%- include('partials/_header') %>

    <div id="antContainer">
        <canvas id="antCanvas" width="1200px" height="650px"></canvas>
    </div>

    <script src="../scripts/antfarm.js"></script>

</body>
</html>
