<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/index.css" type="text/css" />
    <style></style>
</head>

<body>

    <div id="gameContainer">
        <canvas id="gameCanvas" width="1400px" height="720px"></canvas>
    </div>

    <div class="nav">
    <a href="../index.html">Index</a>
    <a href="./spikes.html">Spikey</a>
    <a href="./eyes.html">Eyes</a>
    <a href="./spin.html">Spin</a>
    <a href="./multi.html">MULTI</a>
    <a href="./truck.html">TRUCK</a>
    </div>

        <script src="../scripts/logic.js"></script>
</body>
</html>
