<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/index.css" type="text/css" />
    <link rel="stylesheet" href="../styles/indexCanvas.css" type="text/css" />
    <style></style>
</head>

<body>

    <div id="gameContainer">
        <canvas id="gameCanvas" width="1400px" height="720px"></canvas>
    </div>

    <div id="indexNav">
            <ul>
                <li><a href="../index.html">INDEX</a></li>
                <li><a href="./spikes.html">SPIKES</a></li>
                <li><a href="./eyes.html">EYES</a></li>
                <li><a href="./spin.html">SPIN</a></li>
                <li><a href="./multi.html">MULTI</a></li>
                <li><a href="./truck.html">TRUCK</a></li>
                <li><a href="./store.html">STORAGE</a></li>
            </ul>
    </div>

        <script src="../scripts/logic.js"></script>
</body>
</html>
