<!DOCTYPE html>
<html>
<head>
    <link href= "/public/assets/indexStyles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/index.css" type="text/css" />
    
</head>

<body>

    js <%- include('partials/_header') %>

    <div id="gameContainer03">
        <canvas id="gameCanvas03" width="1000px" height="620px"></canvas>
    </div>

        <script src="../scripts/eyeslogic.js"></script>
</body>
</html>
