<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/index.css" type="text/css" />
    <style></style>
</head>

<body>

    <div id="gameContainer03">
        <canvas id="gameCanvas03" width="1000px" height="620px"></canvas>
    </div>

    <div class="nav">
    <a href="../index.html">INDEX</a>
    <a href="./cubes.html">CUBEY</a>
    <a href="./spikes.html">SPIKES</a>
    <a href="./spin.html">SPIN</a>
    </div>

        <script src="../scripts/eyeslogic.js"></script>
</body>
</html>
