<!DOCTYPE html>
<html>
<head>
    <link href= "/public/assets/indexStyles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../styles/index.css" type="text/css" />
        <link rel="stylesheet" href="../styles/house.css" type="text/css" />
</head>

<body>

    js <%- include('partials/_header') %>

    <div id="houseContainer">
        <canvas id="houseCanvas" width="900px" height="650px"></canvas>
    </div>


    <script id="houseLogic"></script>
    <script id="outside">
        
    </script>

    <script id="basement">
function drawBasement(){

ctx.strokeStyle = "black";
ctx.fillStyle = '#465353';
ctx.lineWidth = 4;

ctx.beginPath(); // Basement Front
ctx.moveTo(topXCorner , topYCorner + Yheight );
ctx.lineTo(topXCorner + Xwidth, topYCorner + Yheight );
ctx.lineTo(topXCorner + Xwidth, topYCorner + Yheight + 160 );
ctx.lineTo(topXCorner, topYCorner + Yheight + 160 );
ctx.lineTo(topXCorner, topYCorner + Yheight ) ;
ctx.stroke();
ctx.fill();

// Back Wall
ctx.fillStyle = '#465353';
ctx.beginPath();
ctx.moveTo(backX1,backY1 + 110);
ctx.lineTo(backX1 + 450,backY1 + 110);
ctx.lineTo(backX1 + 450,backY1 + 200);
ctx.lineTo(backX1,backY1 + 200);
ctx.lineTo(backX1,backY1 + 110);
ctx.fill();
// Left Wall
ctx.fillStyle = '#758a8a'
ctx.beginPath();
ctx.moveTo(topXCorner + 10, topYCorner + Yheight + 10);
ctx.lineTo(backX1,backY1 + 110);
ctx.lineTo(backX1,backY1 + 200);
ctx.lineTo(topXCorner + 10, topYCorner + Yheight + 150);
ctx.lineTo(topXCorner + 10, topYCorner + Yheight + 10);
ctx.fill();
// Right Wall
ctx.fillStyle = '#758a8a'
ctx.beginPath();
ctx.moveTo(backX1 + 450,backY1 + 110);
ctx.lineTo(topXCorner + Xwidth - 10, topYCorner + Yheight + 10);
ctx.lineTo(topXCorner + Xwidth - 10, topYCorner + Yheight + 150);
ctx.lineTo(backX1 + 450,backY1 + 200);
ctx.lineTo(backX1 + 450,backY1 + 110);
ctx.fill();
// Roof
ctx.fillStyle = '#171c1c';
ctx.beginPath();
ctx.moveTo(topXCorner + 10, topYCorner + Yheight + 10);
ctx.lineTo(topXCorner + Xwidth - 10, topYCorner + Yheight + 10);
ctx.lineTo(backX1 + 450,backY1 + 110);
ctx.lineTo(backX1,backY1 + 110);
ctx.fill();
// Floor
ctx.fillStyle = '#9fadad'
ctx.beginPath();
ctx.moveTo(topXCorner + 10, topYCorner + Yheight + 150);
ctx.lineTo(backX1,backY1 + 200);
ctx.lineTo(backX1 + 450,backY1 + 200);
ctx.lineTo(topXCorner + Xwidth - 10, topYCorner + Yheight + 150);
ctx.lineTo(topXCorner + 10, topYCorner + Yheight + 150);
ctx.fill();

}
    </script>

    <script id="attic">
function drawAttic (){

var roof_gradient = ctx.createLinearGradient(0,topYCorner - 90, 0, topYCorner);
roof_gradient.addColorStop(0, '#734d26');
roof_gradient.addColorStop(1, '#4d3319');

ctx.fillStyle = roof_gradient;
ctx.strokeStyle = "black";
ctx.lineWidth = 2;

ctx.beginPath(); // Back Wall
ctx.moveTo( backX1,backY1 - 110 );
ctx.lineTo(backX1 + ((Xwidth - backX1)/2) - 15,backY1 - 175);
ctx.lineTo( (backX1 + (Xwidth/2)) + 105 ,backY1  - 110 );
ctx.lineTo( backX1,backY1 - 110 );
ctx.fill();

ctx.beginPath(); // Right Side
ctx.moveTo(topXCorner + (Xwidth/2),topYCorner - 90);
ctx.lineTo(backX1 + ((Xwidth - backX1)/2) - 15,backY1 - 175);
ctx.lineTo( (backX1 + (Xwidth/2)) + 105 ,backY1  - 110 );
ctx.lineTo(topXCorner + Xwidth - 30,topYCorner);
ctx.lineTo(topXCorner + (Xwidth/2),topYCorner - 90);
ctx.fill();

ctx.beginPath(); // Left Side
ctx.moveTo( topXCorner + (Xwidth/2),topYCorner - 90);
ctx.lineTo( backX1 + ((Xwidth - backX1)/2) - 15,backY1 - 175);
ctx.lineTo( backX1,backY1 - 110 );
ctx.lineTo( topXCorner + 30,topYCorner);
ctx.lineTo( topXCorner + (Xwidth/2),topYCorner - 90);
ctx.fill();

ctx.beginPath(); // Floor
ctx.moveTo( backX1,backY1 - 110 );
ctx.lineTo( (backX1 + (Xwidth/2)) + 105 ,backY1  - 110 );
ctx.lineTo(topXCorner + Xwidth - 30,topYCorner);
ctx.lineTo( topXCorner + 30,topYCorner);
ctx.fill();

ctx.beginPath(); // Front
ctx.moveTo(topXCorner + 30,topYCorner);
ctx.lineTo(topXCorner + (Xwidth/2),topYCorner - 90); // Peak
ctx.lineTo(topXCorner + Xwidth - 30,topYCorner);
ctx.lineTo(topXCorner + 30,topYCorner);
ctx.stroke();

}
    </script>

    <script id="mainfloor">
function drawMainFloor(){
    ctx.strokeStyle = "black";
    ctx.lineWidth = 2;

/// Layering Logic - Horizontal - X Axis
    if (Xcord >= 475){
        rightRoom();
        middleRoom();
        leftRoom();
    } else if (Xcord < 475 && Xcord > 445){
        leftRoom();
        rightRoom();
        middleRoom();
    } else if (Xcord <= 445){
        leftRoom();
        middleRoom();
        rightRoom();
    }
///    
}

function rightRoom(){
    var mainRight_gradient = ctx.createLinearGradient(topXCorner + Xwidth - 10,backY1, topXCorner + Xwidth - 10,backY1 + 300);
    mainRight_gradient.addColorStop(0, '#ff0000');
    mainRight_gradient.addColorStop(1, '#660000');

    ctx.fillStyle = mainRight_gradient;
 
    // Back Wall
    ctx.beginPath();
    ctx.moveTo((backX1 + (Xwidth/2)) - 70 ,backY1);
    ctx.lineTo(backX1 + ((Xwidth/2) - 150) + 250,backY1);
    ctx.lineTo(backX1 + ((Xwidth/2) - 150) + 250,backY1 + 100);
    ctx.lineTo((backX1 + (Xwidth/2)) - 70 ,backY1 + 100);
    ctx.lineTo((backX1 + (Xwidth/2)) - 70 ,backY1);
    ctx.fill();
    ctx.stroke();
    // Right Wall
    ctx.beginPath();
    ctx.moveTo(topXCorner + Xwidth - 10, topYCorner + ((Yheight/2) - 10));
    ctx.lineTo(backX1 + ((Xwidth/2) - 150) + 250,backY1);
    ctx.lineTo(backX1 + ((Xwidth/2) - 150) + 250,backY1 + 100);
    ctx.lineTo(topXCorner + Xwidth - 10, topYCorner + Yheight - 10);
    ctx.fill();
    ctx.stroke();
    // Left Wall
    ctx.beginPath();
    ctx.moveTo(topXCorner + Xwidth - ((Xwidth/3) + 40),topYCorner + ((Yheight/2) - 10));
    ctx.lineTo((backX1 + (Xwidth/2)) - 70 ,backY1);
    ctx.lineTo((backX1 + (Xwidth/2)) - 70 ,backY1 + 100);
    ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3) + 40),topYCorner + Yheight - 10);
    ctx.fill();
    ctx.stroke();
    // Roof
    ctx.beginPath();
    ctx.moveTo(topXCorner + Xwidth - ((Xwidth/3) + 40),topYCorner + ((Yheight/2) - 10));
    ctx.lineTo(topXCorner + Xwidth - 10, topYCorner + ((Yheight/2) - 10));
    ctx.lineTo(backX1 + ((Xwidth/2) - 150) + 250,backY1);
    ctx.lineTo((backX1 + (Xwidth/2)) - 70 ,backY1);
    ctx.fill();
    ctx.stroke();
    // Floor
    ctx.beginPath();
    ctx.moveTo(topXCorner + Xwidth - ((Xwidth/3) + 40),topYCorner + Yheight - 10);
    ctx.lineTo((backX1 + (Xwidth/2)) - 70 ,backY1 + 100);
    ctx.lineTo(backX1 + ((Xwidth/2) - 150) + 250,backY1 + 100);
    ctx.lineTo(topXCorner + Xwidth - 10, topYCorner + Yheight - 10);
    ctx.fill();
    ctx.stroke();
    // Front
    ctx.beginPath();
    ctx.moveTo(topXCorner + Xwidth - 10, topYCorner + ((Yheight/2) - 10));
    ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3) + 40),topYCorner + ((Yheight/2) - 10));
    ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3) + 40),topYCorner + Yheight - 10);
    ctx.lineTo(topXCorner + Xwidth - 10, topYCorner + Yheight - 10);
    ctx.lineTo(topXCorner + Xwidth - 10, topYCorner + ((Yheight/2) - 10));
    ctx.stroke();
}

function leftRoom(){
    var mainLeft_gradient = ctx.createLinearGradient(backX1,backY1, backX1,backY1 + 300);
    mainLeft_gradient.addColorStop(0, '#ffff99');
    mainLeft_gradient.addColorStop(1, '#b3b300');

    ctx.fillStyle = mainLeft_gradient;

    // Back Wall
    ctx.beginPath();
    ctx.moveTo(backX1,backY1);
    ctx.lineTo(backX1 + ((Xwidth/2) - 210),backY1);
    ctx.lineTo(backX1 + ((Xwidth/2) - 210),backY1 + 100);
    ctx.lineTo(backX1,backY1 + 100);
    ctx.lineTo(backX1,backY1);
    ctx.fill();
    ctx.stroke();
    // Left Wall
    ctx.beginPath();
    ctx.moveTo(backX1,backY1);
    ctx.lineTo(topXCorner + 10,topYCorner + ((Yheight/2) - 10));
    ctx.lineTo(topXCorner + 10,topYCorner + Yheight - 10);
    ctx.lineTo(backX1,backY1 + 100);
    ctx.lineTo(backX1,backY1);
    ctx.fill();
    ctx.stroke();
    // Right Wall
    ctx.beginPath();
    ctx.moveTo(backX1 + ((Xwidth/2) - 210),backY1);
    ctx.lineTo(topXCorner + ((Xwidth/3)+50) - 10,topYCorner + ((Yheight/2) - 10));
    ctx.lineTo(topXCorner + ((Xwidth/3)+50) - 10,topYCorner + Yheight - 10);
    ctx.lineTo(backX1 + ((Xwidth/2) - 210),backY1 + 100);
    ctx.lineTo(backX1 + ((Xwidth/2) - 210),backY1);
    ctx.fill();
    ctx.stroke();
    // Floor
    ctx.beginPath();
    ctx.moveTo(topXCorner + 10,topYCorner + Yheight - 10);
    ctx.lineTo(backX1,backY1 + 100);
    ctx.lineTo(backX1 + ((Xwidth/2) - 210),backY1 + 100);
    ctx.lineTo(topXCorner + ((Xwidth/3)+50) - 10,topYCorner + Yheight - 10);
    ctx.moveTo(topXCorner + 10,topYCorner + Yheight - 10);
    ctx.fill();
    ctx.stroke();
    // Roof
    ctx.beginPath();
    ctx.moveTo(topXCorner + 10,topYCorner + ((Yheight/2) - 10));
    ctx.lineTo(backX1,backY1);
    ctx.lineTo(backX1 + ((Xwidth/2) - 210),backY1);
    ctx.lineTo(topXCorner + ((Xwidth/3)+50) - 10,topYCorner + ((Yheight/2) - 10));
    ctx.lineTo(topXCorner + 10,topYCorner + ((Yheight/2) - 10));
    ctx.fill();
    ctx.stroke();
    // Front
    ctx.beginPath();
    ctx.moveTo(topXCorner + 10,topYCorner + ((Yheight/2) - 10));
    ctx.lineTo(topXCorner + ((Xwidth/3)+50) - 10,topYCorner + ((Yheight/2) - 10));
    ctx.lineTo(topXCorner + ((Xwidth/3)+50) - 10,topYCorner + Yheight - 10);
    ctx.lineTo(topXCorner + 10,topYCorner + Yheight - 10);
    ctx.lineTo(topXCorner + 10,topYCorner + ((Yheight/2) - 10));
    ctx.stroke();
}

function middleRoom(){

    var mainHall_gradient = ctx.createLinearGradient(0,backY1, 0,topYCorner + Yheight - 10);
    mainHall_gradient.addColorStop(0, '#ff531a');
    mainHall_gradient.addColorStop(1, '#802000');

    ctx.fillStyle = mainHall_gradient;

    // Back Wall
    ctx.beginPath();
    ctx.moveTo(backX1 + 150, backY1 );
    ctx.lineTo(backX1 + 150 + ((Xwidth/2) - 230), backY1 );
    ctx.lineTo(backX1 + 150 + ((Xwidth/2) - 230), backY1  + 100);
    ctx.lineTo(backX1 + 150, backY1 + 100);
    ctx.lineTo(backX1 + 150, backY1 );
    ctx.fill();
    ctx.stroke();
    // Left Wall
    ctx.beginPath();
    ctx.moveTo(topXCorner + ((Xwidth/3) + 50),topYCorner + ((Yheight/2) - 10));
    ctx.lineTo(backX1 + 150,backY1 );
    ctx.lineTo(backX1 + 150, backY1 + 100);
    ctx.lineTo(topXCorner + ((Xwidth/3) + 50),topYCorner + Yheight - 10);
    ctx.lineTo(topXCorner + ((Xwidth/3) + 50),topYCorner + ((Yheight/2) - 10));
    ctx.fill();
    ctx.stroke();
    // Right Wall
    ctx.beginPath();
    ctx.moveTo(backX1 + 150 + ((Xwidth/2) - 230), backY1 );
    ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3)+50),topYCorner + ((Yheight/2) - 10));
    ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3)+50),topYCorner + Yheight - 10);
    ctx.lineTo(backX1 + 150 + ((Xwidth/2) - 230), backY1  + 100);
    ctx.lineTo(backX1 + 150 + ((Xwidth/2) - 230), backY1 );
    ctx.fill();
    ctx.stroke();
    // Floor
    ctx.beginPath();
    ctx.moveTo(topXCorner + ((Xwidth/3) + 50),topYCorner + Yheight - 10);
    ctx.lineTo(backX1 + 150, backY1 + 100);
    ctx.lineTo(backX1 + 150 + ((Xwidth/2) - 230), backY1  + 100);
    ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3)+50),topYCorner + Yheight - 10);
    ctx.lineTo(topXCorner + ((Xwidth/3) + 50),topYCorner + Yheight - 10);
    ctx.fill();
    ctx.stroke();
    // Roof
    ctx.beginPath();
    ctx.moveTo(topXCorner + ((Xwidth/3) + 50),topYCorner + ((Yheight/2) - 10));
    ctx.lineTo(backX1 + 150, backY1 );
    ctx.lineTo(backX1 + 150 + ((Xwidth/2) - 230), backY1 );
    ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3)+50),topYCorner + ((Yheight/2) - 10));
    ctx.moveTo(topXCorner + ((Xwidth/3) + 50),topYCorner + ((Yheight/2) - 10));
    ctx.fill();
    ctx.stroke();
    // Front
    ctx.beginPath();
    ctx.moveTo(topXCorner + ((Xwidth/3) + 50),topYCorner + ((Yheight/2) - 10));
    ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3)+50),topYCorner + ((Yheight/2) - 10));
    ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3)+50),topYCorner + Yheight - 10);
    ctx.lineTo(topXCorner + ((Xwidth/3) + 50),topYCorner + Yheight - 10);
    ctx.lineTo(topXCorner + ((Xwidth/3) + 50), topYCorner + ((Yheight/2) - 10));
    ctx.stroke();
}
    </script>

    <script id="secondfloor">
function drawSecondFloor(){
    ctx.strokeStyle = "black";
    ctx.lineWidth = 2;

    if (Xcord >= 475){
        secondRight();
        secondMiddle();
        secondLeft();
    } else if (Xcord < 475 && Xcord > 445){
        secondLeft();
        secondRight();
        secondMiddle();
    } else if (Xcord <= 445){
        secondLeft();
        secondMiddle();
        secondRight();
    }

}

function secondLeft(){
    var secondLeft_gradient = ctx.createLinearGradient(topXCorner + 10,topYCorner + 10, topXCorner + 10,topYCorner + ((Yheight/2) - 20));
    secondLeft_gradient.addColorStop(0, '#ffff99');
    secondLeft_gradient.addColorStop(1, '#b3b300');

    ctx.fillStyle = secondLeft_gradient;

    // Back Wall
    ctx.beginPath();
    ctx.moveTo(backX1,backY1 - 100 );
    ctx.lineTo(backX1 + ((Xwidth/2) - 210),backY1  - 100 );
    ctx.lineTo(backX1 + ((Xwidth/2) - 210),backY1  - 10);
    ctx.lineTo(backX1,backY1  - 10);
    ctx.lineTo(backX1,backY1 - 100 );
    ctx.fill();
    ctx.stroke();
    // left Wall
    ctx.beginPath();
    ctx.moveTo(topXCorner + 10, topYCorner + 10);
    ctx.lineTo(backX1,backY1 - 100 );
    ctx.lineTo(backX1,backY1  - 10);
    ctx.lineTo(topXCorner + 10, topYCorner + ((Yheight/2) - 20));
    ctx.fill();
    ctx.stroke();
    // right Wall
    ctx.beginPath();
    ctx.moveTo(topXCorner + ((Xwidth/3) + 50) - 10,topYCorner + 10);
    ctx.lineTo(backX1 + ((Xwidth/2) - 210),backY1  - 100 );
    ctx.lineTo(backX1 + ((Xwidth/2) - 210),backY1  - 10);
    ctx.lineTo(topXCorner + ((Xwidth/3) + 50) - 10,topYCorner + ((Yheight/2) - 20));
    ctx.fill();
    ctx.stroke();
    // Roof
    ctx.beginPath();
    ctx.moveTo(topXCorner + 10, topYCorner + 10);
    ctx.lineTo(topXCorner + ((Xwidth/3) + 50) - 10,topYCorner + 10);
    ctx.lineTo(backX1 + ((Xwidth/2) - 210),backY1  - 100 );
    ctx.lineTo(backX1,backY1 - 100 );
    ctx.fill();
    ctx.stroke();
    // Floor
    ctx.beginPath();
    ctx.moveTo(topXCorner + 10, topYCorner + ((Yheight/2) - 20));
    ctx.lineTo(topXCorner + ((Xwidth/3) + 50) - 10,topYCorner + ((Yheight/2) - 20));
    ctx.lineTo(backX1 + ((Xwidth/2) - 210),backY1  - 10);
    ctx.lineTo(backX1,backY1  - 10);
    ctx.fill();
    ctx.stroke();
    // Front
    ctx.beginPath(); 
    ctx.moveTo(topXCorner + 10, topYCorner + 10);
    ctx.lineTo(topXCorner + ((Xwidth/3) + 50) - 10,topYCorner + 10);
    ctx.lineTo(topXCorner + ((Xwidth/3) + 50) - 10,topYCorner + ((Yheight/2) - 20));
    ctx.lineTo(topXCorner + 10, topYCorner + ((Yheight/2) - 20));
    ctx.lineTo(topXCorner + 10, topYCorner + 10);
    ctx.stroke();
}

function secondMiddle(){
 
    var secondHall_gradient = ctx.createLinearGradient(topXCorner + ((Xwidth/3) + 50),topYCorner + 10,topXCorner + ((Xwidth/3) + 50),topYCorner + ((Yheight/2) - 20));
    secondHall_gradient.addColorStop(0, '#ff531a');
    secondHall_gradient.addColorStop(1, '#802000');

    ctx.fillStyle = secondHall_gradient;

     // Back Wall
     ctx.beginPath();
     ctx.moveTo(backX1 + 150,backY1 - 100 );
     ctx.lineTo(backX1 + 150 + ((Xwidth/2) - 230),backY1  - 100 );
     ctx.lineTo(backX1 + 150 + ((Xwidth/2) - 230),backY1  - 10);
     ctx.lineTo(backX1 + 150,backY1  - 10);
     ctx.lineTo(backX1 + 150,backY1 - 100 );
     ctx.fill();
     ctx.stroke();
     // left Wall
     ctx.beginPath();
     ctx.moveTo(topXCorner + ((Xwidth/3) + 50),topYCorner + 10);
     ctx.lineTo(backX1 + 150,backY1 - 100 );
     ctx.lineTo(backX1 + 150,backY1  - 10);
     ctx.lineTo(topXCorner + ((Xwidth/3) + 50), topYCorner + ((Yheight/2) - 20));
     ctx.fill();
     ctx.stroke();
     // right Wall
     ctx.beginPath();
     ctx.moveTo(topXCorner + Xwidth - ((Xwidth/3)+50),topYCorner + 10);
     ctx.lineTo(backX1 + 150 + ((Xwidth/2) - 230),backY1  - 100 );
     ctx.lineTo(backX1 + 150 + ((Xwidth/2) - 230),backY1  - 10);
     ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3)+50),topYCorner + ((Yheight/2) - 20));
     ctx.fill();
     ctx.stroke();
    // Roof
    ctx.beginPath();
    ctx.moveTo(topXCorner + ((Xwidth/3) + 50), topYCorner + 10);
    ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3)+50),topYCorner + 10);
    ctx.lineTo(backX1 + 150 + ((Xwidth/2) - 230),backY1  - 100 );
    ctx.lineTo(backX1 + 150,backY1 - 100 );
    ctx.fill();
    ctx.stroke();
    // Floor
    ctx.beginPath();
    ctx.moveTo(topXCorner + ((Xwidth/3) + 50), topYCorner + ((Yheight/2) - 20));
    ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3)+50),topYCorner + ((Yheight/2) - 20));
    ctx.lineTo(backX1 + 150 + ((Xwidth/2) - 230),backY1  - 10);
    ctx.lineTo(backX1 + 150,backY1  - 10);
    ctx.fill();
    ctx.stroke();
    // Front
    ctx.beginPath();
    ctx.moveTo(topXCorner + ((Xwidth/3) + 50), topYCorner + 10);
    ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3)+50),topYCorner + 10);
    ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3)+50),topYCorner + ((Yheight/2) - 20));
    ctx.lineTo(topXCorner + ((Xwidth/3) + 50), topYCorner + ((Yheight/2) - 20));
    ctx.lineTo(topXCorner + ((Xwidth/3) + 50), topYCorner + 10);
    ctx.stroke();
}

function secondRight(){
    var secondRight_gradient = ctx.createLinearGradient(topXCorner + Xwidth - 10, topYCorner + 10, topXCorner + Xwidth - 10,topYCorner + ((Yheight/2) - 20));
    secondRight_gradient.addColorStop(0, '#ff0000');
    secondRight_gradient.addColorStop(1, '#660000');

    ctx.fillStyle = secondRight_gradient;
    // Back Wall
    ctx.beginPath();
    ctx.moveTo( (backX1 + (Xwidth/2)) - 70 ,backY1  - 100 ); // left upper
    ctx.lineTo( (backX1 + (Xwidth/2)) + 100 ,backY1  - 100 ); // right upper
    ctx.lineTo( (backX1 + (Xwidth/2)) + 100 ,backY1  - 10); // right lower
    ctx.lineTo( (backX1 + (Xwidth/2)) - 70 ,backY1  - 10 ); // left lower
    ctx.lineTo( (backX1 + (Xwidth/2)) - 70 ,backY1  - 100 ); // left upper
    ctx.fill();
    ctx.stroke();
    // left Wall
    ctx.beginPath();
    ctx.moveTo(topXCorner + Xwidth - ((Xwidth/3)+50) + 10,topYCorner + 10);
    ctx.lineTo( (backX1 + (Xwidth/2)) - 70 ,backY1  - 100 );
    ctx.lineTo( (backX1 + (Xwidth/2)) - 70 ,backY1  - 10 );
    ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3)+50) + 10,topYCorner + ((Yheight/2) - 20));   
    ctx.fill();
    ctx.stroke();
    // right Wall
    ctx.beginPath();
    ctx.moveTo(topXCorner + Xwidth - 10, topYCorner + 10); //
    ctx.lineTo( (backX1 + (Xwidth/2)) + 100 ,backY1  - 100 );
    ctx.lineTo( (backX1 + (Xwidth/2)) + 100 ,backY1  - 10);
    ctx.lineTo(topXCorner + Xwidth - 10, topYCorner + ((Yheight/2) - 20));
    ctx.fill();
    ctx.stroke();
    // Roof
    ctx.beginPath();
    ctx.moveTo( (backX1 + (Xwidth/2)) - 70 ,backY1  - 100 );
    ctx.lineTo( (backX1 + (Xwidth/2)) + 100 ,backY1  - 100 );
    ctx.lineTo(topXCorner + Xwidth - 10, topYCorner + 10);
    ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3)+50) + 10,topYCorner + 10);
    ctx.fill();
    ctx.stroke();
    // Floor
    ctx.beginPath();
    ctx.moveTo(topXCorner + Xwidth - 10, topYCorner + ((Yheight/2) - 20)); // lower left
    ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3)+50) + 10,topYCorner + ((Yheight/2) - 20)); // lower right
    ctx.lineTo( (backX1 + (Xwidth/2)) - 70 ,backY1  - 10 ); // left lower
    ctx.lineTo( (backX1 + (Xwidth/2)) + 100 ,backY1  - 10); // right lower
    ctx.fill();
    ctx.stroke();
    // Front
    ctx.beginPath();
    ctx.moveTo(topXCorner + Xwidth - 10, topYCorner + 10); // lower left
    ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3)+50) + 10,topYCorner + 10); // lower right
    ctx.lineTo(topXCorner + Xwidth - ((Xwidth/3)+50) + 10,topYCorner + ((Yheight/2) - 20)); // upper right
    ctx.lineTo(topXCorner + Xwidth - 10, topYCorner + ((Yheight/2) - 20)); // upper right
    ctx.lineTo(topXCorner + Xwidth - 10, topYCorner + 10); // upper left
    ctx.stroke();
}
    </script>

</body>
</html>
