<!DOCTYPE html>
<html>
<head>
    <link href= "/public/assets/indexStyles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../styles/index.css" type="text/css" />
        <link rel="stylesheet" href="../styles/house.css" type="text/css" />
</head>

<body>

    js <%- include('partials/_header') %>

    <div id="houseContainer">
        <canvas id="houseCanvas" width="900px" height="650px"></canvas>
    </div>


    <script src="../scripts/house/houseLogic.js"></script>
    <script src="../scripts/house/outside.js"></script>
    <script src="../scripts/house/basement.js"></script>
    <script src="../scripts/house/attic.js"></script>
    <script src="../scripts/house/mainfloor.js"></script>
    <script src="../scripts/house/secondfloor.js"></script>

</body>
</html>
