<!DOCTYPE html>
<html>
<head>
    <link href= "/public/assets/indexStyles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../styles/hud.css" type="text/css" />
</head>

<body>

    js <%- include('partials/_header') %>
    
    <img id="field" src="../images/field.jpg">

    <script src="../scripts/hudlogic.js"></script>
    <script src="../scripts/hud/radar.js"></script>
    <script src="../scripts/hud/ammo.js"></script>
    <script src="../scripts/hud/ammoBars.js"></script>
    <script src="../scripts/hud/rectile.js"></script>
    <script src="../scripts/hud/movebar.js"></script>
    <script src="../scripts/hud/healthbar.js"></script>
    <script src="../scripts/hud/hudFrame.js"></script>
    <script src="../scripts/hud/hudFrameRed.js"></script>
    <script src="../scripts/hud/sensorbar.js"></script>

</body>
</html>
