<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="../styles/hud.css" type="text/css" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div id="hudContainer">
        <canvas id="hudCanvas" width="1400px" height="675px"></canvas>
    </div>

 
    <div id="indexNav">          
        <a href="./truck.html">TRUCK</a>
        <a href="./store.html">STORAGE</a>
        <a href="../index.html">INDEX</a>
        <a href="./sandbox/cubes.html">CUBES</a>
        <a href="./sandbox/spikes.html">SPIKES</a>
        <a href="./sandbox/eyes.html">EYES</a>
        <a href="./sandbox/spin.html">SPIN</a>
        <a href="./sandbox/multi.html">MULTI</a>           
    </div>

    <button  id="btn1" style="width:60px"><img id="linkIcon" src="../images/link-icon.png"></button>
    
    <img id="field" src="../images/field.jpg">

    <script>
    $(document).ready(function(){
        var clicked = false;
        $("#btn1").click(function(){
            if (clicked == false){
                $("#indexNav").slideDown(1000);
                clicked = true;
            } else if (clicked == true) {
                $("#indexNav").slideUp(1000);
                clicked = false;
            }
        });
    });
    </script>

    <script src="../scripts/hudlogic.js"></script>
    <script src="../scripts/hud/radar.js"></script>
    <script src="../scripts/hud/ammo.js"></script>
    <script src="../scripts/hud/ammoBars.js"></script>
    <script src="../scripts/hud/rectile.js"></script>
    <script src="../scripts/hud/movebar.js"></script>
    <script src="../scripts/hud/healthbar.js"></script>
    <script src="../scripts/hud/hudFrame.js"></script>
    <script src="../scripts/hud/hudFrameRed.js"></script>
    <script src="../scripts/hud/sensorbar.js"></script>

</body>
</html>
