<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="../styles/index.css" type="text/css" />
        <link rel="stylesheet" href="../styles/hud.css" type="text/css" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div id="hudContainer">
        <canvas id="hudCanvas" width="1400px" height="675px"></canvas>
    </div>

<div id="navPad"> 

    <div id="indexNav">
            <ul>
                <li><a href="./truck.html">TRUCK</a></li>
                <li><a href="./store.html">STORAGE</a></li>
                <li><a href="../index.html">INDEX</a></li>
            </ul>
    </div>

    <div id="buttonContainer">
            <button  id="btn1" style="width:100px"><img id="linkIconLr" src="../images/link-icon.png"></button>
    </div>

    <div id ="sandboxNav">
            <ul>
                <li><a href="./sandbox/cubes.html">CUBES</a></li>
                <li><a href="./sandbox/spikes.html">SPIKES</a></li>
                <li><a href="./sandbox/eyes.html">EYES</a></li>
                <li><a href="./sandbox/spin.html">SPIN</a></li>
                <li><a href="./sandbox/multi.html">MULTI</a></li>
            </ul>
    </div>

    <div id="sandboxbuttonContainer">
            <button  id="btn2" style="width:50px"><img id="linkIconSm"src="../images/link-icon.png"></button>
    </div>

</div>

    <script src="../scripts/house/houseLogic.js"></script>
    <script src="../scripts/house/outside.js"></script>
    <script src="../scripts/house/basement.js"></script>
    <script src="../scripts/house/attic.js"></script>
    <script src="../scripts/house/mainfloor.js"></script>
    <script src="../scripts/house/secondfloor.js"></script>

    <script>
    $(document).ready(function(){
        var clicked = false;
        $("#btn1").click(function(){
            if (clicked == false){
                $("#indexNav").slideDown(1000);
                clicked = true;
            } else if (clicked == true) {
                $("#indexNav").slideUp(1000);
                clicked = false;
            }
        });
    });
    </script>

    <script src="../scripts/hudlogic.js"></script>
    <script src="../scripts/hud/radar.js"></script>
    <script src="../scripts/hud/ammo.js"></script>
    <script src="../scripts/hud/ammoBars.js"></script>
    <script src="../scripts/hud/rectile.js"></script>
    <script src="../scripts/hud/movebar.js"></script>
    <script src="../scripts/hud/HealthBar.js"></script>
</body>
</html>
