<!DOCTYPE html>
<html>
<head>
    <link href= "/public/assets/indexStyles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap" rel="stylesheet">
    <title>HTML5- In The Box -Canvas</title>
</head>

<body>

    js <%- include('partials/_header') %>

    js <%- include('partials/_canvasNavs') %>

    js <%- include('partials/_navModals') %>

</body>
</html>
