<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../styles/index.css" type="text/css" />
    <link rel="stylesheet" href="../styles/kitty.css" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

    <img id="yarnBall" src="../images/BallOfYarn.png" width="50px">

    <div id="kittycanvasContainer">
            <canvas id="kittyCanvas" width="1000px" height="600px"></canvas>
    </div>

<div id="navPad">
    <div id="navPad-inner-upper"></div>
    <div id="navPad-inner-lower"></div>
    <div id="navPad-inner"></div>
    <div id="indexNav">
            <ul>
                <li><a href=".truck.html">TRUCK</a></li>
                <li><a href=".store.html">STORAGE</a></li>
                <li><a href="./house.html">HOUSE</a></li>
                <li><a href="../index.html">INDEX</a></li>
            </ul>
    </div>

    <div id="buttonContainer">
            <button  id="btn1" style="width:100px"><img id="linkIconLr" src="../images/link-icon.png"></button>
    </div>
    
    <div id ="sandboxNav">
            <ul>
                <li><a href="./sandbox/cubes.html">CUBES</a></li>
                <li><a href="./sandbox/spikes.html">SPIKES</a></li>
                <li><a href="./sandbox/eyes.html">EYES</a></li>
                <li><a href="./sandbox/spin.html">SPIN</a></li>
                <li><a href="./sandbox/multi.html">MULTI</a></li>
            </ul>
    </div>

    <div id="sandboxbuttonContainer">
            <button  id="btn2" style="width:50px"><img id="linkIconSm"src="../images/link-icon.png"></button>
    </div>

</div>    

        <script src="../scripts/kitty/kittyLogic.js"></script>
        <script src="../scripts/kitty/yarnLogic.js"></script>
        <script>
                $(document).ready(function(){
                    var clicked = false;
                    $("#btn1").click(function(){
                        if (clicked == false){
                            $("#indexNav").slideDown(1000);
                            clicked = true;
                        } else if (clicked == true) {
                            $("#indexNav").slideUp(1000);
                            clicked = false;
                        }
                    });
                });
        </script>
        <script>
                $(document).ready(function(){
                    var clicked = false;
                    $("#btn2").click(function(){
                        if (clicked == false){
                            $("#sandboxNav").slideDown(1000);
                            clicked = true;
                        } else if (clicked == true) {
                            $("#sandboxNav").slideUp(1000);
                            clicked = false;
                        }
                    });
                });
        </script>
</body>
</html>
