<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/index.css" type="text/css" />
    <style></style>
</head>

<body>

    <div id="nav">
        <a href="../index.html">INDEX</a>
        <a href="./cubes.html">CUBEY</a>
        <a href="./spikes.html">SPIKES</a>
        <a href="./eyes.html">EYES</a>
        <a href="./spin.html">SPIN</a>
    </div>

    <div id="canvases">
        <div id="gameContainer05">
            <canvas id="gameCanvas05" width="300px" height="300px"></canvas>
        </div>
    
        <div id="gameContainer06">
            <canvas id="gameCanvas06" width="300px" height="300px"></canvas>
        </div>
    </div>

        <script src="../scripts/multilogic01.js"></script>
        <!-- <script src="../scripts/multilogic02.js"></script> -->
</body>
</html>
