<!DOCTYPE html>
<html>
<head>
    <link href= "/public/assets/indexStyles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/pong.css" type="text/css" />
</head>

<body>

    js <%- include('partials/_header') %>

    <div id="pongContainer">
        <canvas id="pongCanvas" width="800" height="600"></canvas>
    </div>

        <script src="../scripts/pong/ponglogic.js"></script>
</body>
</html>
