<!DOCTYPE html>
<html>
<head>
    <link href= "/public/assets/indexStyles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="/public/assets/scrollerStyles.css" type="text/css" />
</head>

<body>

    js <%- include('partials/_header') %>

    <div id="scrollerContainer">
        <canvas id="scrollerCanvas" width="800px" height="450px"></canvas>
    </div>

    <script>
        var canvas = document.getElementById('scrollerCanvas'); 
        var ctx = canvas.getContext('2d'); 

        var framesPerSecond = 30;
        
        function calculateMousePos(evt){      // an event fires when mouse moves
            var rect = canvas.getBoundingClientRect();
            var root = document.documentElement;
            var mouseX = evt.clientX - rect.left - root.scrollLeft;
            var mouseY = evt.clientY - rect.top - root.scrollTop;
            return {
            x:mouseX,   // Object Literal
            y:mouseY    // Object Literal
            };
        }

        window.onload = function() {
        setInterval(function() {
        drawEverything();

        },1000/framesPerSecond); // Hundredth of seconds
    
        canvas.addEventListener ('mousemove',   // keypress, mouseclick, mousemove
          function(evt) {
            var mousePos = calculateMousePos(evt);
            Xcord = mousePos.x;
            Ycord = mousePos.y;
           });
        }


    function drawEverything() {
        ctx.fillStyle = "lightskyblue"; // Fill Background
        ctx.fillRect(0,0,canvas.width,canvas.height);
        ctx.closePath();
        ctx.stroke();
        ctx.fill();
    }
</script>

</body>
</html>
