<!DOCTYPE html>
<html>
<head>
    <link href= "/public/assets/indexStyles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="/public/assets/scrollerStyles.css" type="text/css" />
</head>

<body>

    js <%- include('partials/_header') %>

    <div id="scrollerContainer">
        <canvas id="scrollerCanvas" width="800px" height="450px"></canvas>
    </div>

    <script id="main">
        var canvas = document.getElementById('scrollerCanvas'); 
        var ctx = canvas.getContext('2d'); 

        var framesPerSecond = 30;

        window.onload = function() {
        setInterval(function() {
        
        var keyDownUp = function(event){

            controller.keyDownUp(event.type, event.keyCode);

        };

        var render = function() {
            display.fill(game.world.background_color);
            display.drawRectangle(game.world.player.x, game.world.player.y,)
        }

        // drawEverything();        
        // Controller();
        // Display();
        Game();
        // Engine();

        },1000/framesPerSecond); // Hundredth of seconds
    
        canvas.addEventListener("keydown", keyDownUp);  // keypress Down
        canvas.addEventListener("keyup", keyDownUp);    // keypress Up

        canvas.addEventListener ('mousemove',   // keypress, mouseclick, mousemove
          function(evt) {
            var mousePos = calculateMousePos(evt);
            Xcord = mousePos.x;
            Ycord = mousePos.y;
           });
        }


    // function drawEverything() {
    //     ctx.fillStyle = "lightskyblue"; // Fill Background
    //     ctx.fillRect(0,0,canvas.width,canvas.height);
    //     ctx.closePath();
    //     ctx.stroke();
    //     ctx.fill();
    // }
</script>

<script id="controller"></script>
<script id="display"></script>
<script id="game">

    const Game = function() {
        this.world = {

            background_color:"#27AAE1",    //  Draw Background Colour #27AAE1

            friction: 0.9,
            gravity: 3,

            player: new Game.Player(),

            height: 450,
            width: 800,

            collideObject:function(object) {

                if (object.x < 0) {
                    object.x =0;
                    object.velocity_x = 0;
                } else if (object.x + object.width > this.width) {
                    object.x = this.width;
                }
                if (object.y < 0) {
                    object.y = 0;
                    object.velocity_y = 0;
                } else if (object.y + object.height > this.height) {
                    object.jumping = false;
                }
            },

            update:function() {

                    this.player.velocity_y += this.gavity;
                    this.player.update();

                    this.player.velocity_x += this.friction;
                    this.player.velocity_y += this.friction;

                    this.collideObject(this.player);
            }

        };

        this.update = function() {
            this.world.update();
        };
    };

    Game.prototype = { constructor : Game };

    Game.Player = function(x, y){   // Adding Player class to Game class

        this.color = "#ffoooo";
        this.height = 16;
        this.jumping = true;
        this.velocity_x = 0;
        this.velocity_y = 0;
        this.width = 16;
        this.x = 100;
        this.y = 50;
    };

    Game.Player.prototype = {

        constructor : Game.Player,

        jump:function(){

            if (!this.jumping){

                this.jumping = true;
                this.velocity_y -= 20;
            }
        },

        moveLeft: function() { this.velocity_x -= 0.5; },
        moveRight: function() { this.velocity_X += 0.5; },

        update:function() {
            
            this.x += this.velocity_x;
            this.y += this.velocity_y;

        }
    };
</script>
<script id="engine"></script>

</body>
</html>
