<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/index.css" type="text/css" />
    <style></style>
</head>

<body>

    <div id="nav">
        <a href="../index.html">INDEX</a>
        <a href="./cubes.html">CUBEY</a>
        <a href="./eyes.html">EYES</a>
        <a href="./spikes.html">SPIKES</a>
        <a href="./multi.html">MULTI</a>
    </div>

    <div id="gameContainer04">
        <canvas id="gameCanvas04" width="800px" height="620px"></canvas>
    </div>

        <script src="../scripts/spinlogic.js"></script>
</body>
</html>
