<!DOCTYPE html>
<html>
<head>
    <link href= "/public/assets/indexStyles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    
    <link href="/public/assets/TandPStyles.css" rel="stylesheet" type="text/css" />
</head>

<body>

    js <%- include('partials/_header') %>
    
    <div id="TandPContainer">
        <canvas id="TandPCanvas" width="600px" height="600px"></canvas>
    </div>

<script>
    var canvas = document.getElementById('TandPCanvas');
    var ctx = canvas.getContext('2d');
    var framesPerSecond = 30;

    var Xcord = 0;
    var Ycord = 0;

    function calculateMousePos(evt){      // an event fires when mouse moves
        var rect = canvas.getBoundingClientRect();
        var root = document.documentElement;
        var mouseX = evt.clientX - rect.left - root.scrollLeft;
        var mouseY = evt.clientY - rect.top - root.scrollTop;
        return {
        x:mouseX,   // Object Literal
        y:mouseY    // Object Literal
        };
    }

    window.onload = function() {
        setInterval(function() {
            drawEverything();
        },1000/framesPerSecond);

        canvas.addEventListener ('mousemove',   // keypress, mouseclick, mousemove
        function(evt) {
            var mousePos = calculateMousePos(evt);
            Xcord = mousePos.x;
            Ycord = mousePos.y;
        });
    }

    function drawEverything() {
        ctx.fillStyle = '#27aae1';
        ctx.fillRect(0,0,canvas.width,canvas.height);
    }
</script>

</body>
</html>
