<!DOCTYPE html>
<html>
<head>
    <link href= "/public/assets/indexStyles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/truckstyles.css" type="text/css" />
</head>

<body>

    js <%- include('partials/_header') %>

    <div class="nav">
        <a href="../index.html">INDEX</a>
        <a href="./spikes.html">SPIKEY</a>
        <a href="./eyes.html">EYES</a>
        <a href="./spin.html">SPIN</a>
        <a href="./multi.html">MULTI</a>
        <a href="./cubes.html">CUBES</a>
        <a href="./store.html">STORAGE</a>
    </div>

    <input id="boxes" type="text" placeholder="How Many Boxes?">
    <button id="packageButton" onclick="drawBox()">Click Me</button>
    <button id="gridButton" onclick="drawGrid()">Click Me</button>

    <div id="truckContainer">
        <canvas id="truckCanvas" width="600px" height="650px"></canvas>
    </div>

        <script src="trucklogic.js"></script>
</body>
</html>
