<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/truckstyles.css" type="text/css" />
    <style></style>
</head>

<body>
    <div class="nav">
        <a href="../index.html">INDEX</a>
        <a href="./spikes.html">SPIKEY</a>
        <a href="./eyes.html">EYES</a>
        <a href="./spin.html">SPIN</a>
        <a href="./multi.html">MULTI</a>
        <a href="./cubes.html">CUBES</a>
    </div>

    <input id="boxes" type="text" placeholder="How Many Boxes?">
    <button id="packageButton" onclick="drawBox()">Click Me</button>

    <div id="truckContainer">
        <canvas id="truckCanvas" width="600px" height="650px"></canvas>
    </div>

        <script src="../scripts/trucklogic.js"></script>
</body>
</html>
