<!DOCTYPE html>
<html>
<head>
    <link href= "/public/assets/indexStyles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/truckstyles.css" type="text/css" />
</head>

<body>

    js <%- include('partials/_header') %>

    <input id="boxes" type="text" placeholder="How Many Boxes?">
    <button id="packageButton" onclick="drawBox()">Click Me</button>
    <button id="gridButton" onclick="drawGrid()">Click Me</button>

    <div id="truckContainer">
        <canvas id="truckCanvas" width="600px" height="650px"></canvas>
    </div>

        <script src="trucklogic.js"></script>
</body>
</html>
