#storageContainer{
    cursor: none;    
    display:block;
    margin:auto;
    text-align: center;
    width:1050px;
    height:675px;
    border-radius:25px;
    background-color: rgb(214, 149, 10);
}

#storageCanvas{
    margin:5px auto;
    border: 5px solid rgb(146, 91, 9);
    border-radius:25px;
    background-color: rgb(218, 211, 211);
    border-style:inset;
}

#dimensionContainer{
    position:relative;
    top: 50px;
    width:225px;
    height:125px;
    border-radius:25px;
    background-color: #27AAE1;
}

#dimensionContainer h1{
    color:white;
    font-size:1em;
    text-wrap:10em;
}

#dimensionTags{
    display:flex;
    justify-content: space-around;
    margin-top: 0px;
}

#dimensionContainer input{
    color: white;
    border: 5px solid white;
    background-color:#27AAE1;
    font-size:20px;
    text-align:center;
    width: 50px;
    height:50px;
    border-radius:45px;
    outline:none;
    appearance: none;
}

::-webkit-input-placeholder{
    color:white;
    font-size: 20px;
}

#doorContainer{
    position:absolute;
    left: 20px;
    top: 245px;
    width:136px;
    height:70px;
    border: 5px solid rgb(146, 91, 9);
    border-radius:25px;
    background-color: rgb(218, 211, 211); 
}

#doorContainer input{
    float:left;
    background-color:white;
    color:green;
    font-size:20px;
    text-align:center;
    width: 50px;
    height:50px;
    margin: 4px auto 2px auto;
    border: 5px solid rgb(146, 91, 9);
    border-radius:45px;
    border-style:inset;
    outline:none;
    appearance: none;
    margin-left:10px;
}

#doorContainer h1{
    margin: 10px;
    color:white;
    font-size:.75em;
    text-wrap:10em;
}

#shelfContainer{
    position:absolute;
    left: 20px;
    top: 335px;
    width:136px;
    height:70px;
    border: 5px solid rgb(146, 91, 9);
    border-radius:25px;
    background-color: rgb(218, 211, 211); 
}

#shelfContainer input{
    float:left;
    background-color:white;
    color:green;
    font-size:20px;
    text-align:center;
    width: 50px;
    height:50px;
    margin: 4px auto 2px auto;
    border: 5px solid rgb(146, 91, 9);
    border-radius:45px;
    border-style:inset;
    outline:none;
    appearance: none;
    margin-left:10px;
}

#shelfContainer h1{
    margin: 15px 5px 15px 10px;
    color:white;
    font-size:.75em;
    text-wrap:10em;
}

#boxContainer{
    position:absolute;
    left: 20px;
    top: 425px;
    width:136px;
    height:70px;
    border: 5px solid rgb(146, 91, 9);
    border-radius:25px;
    background-color: rgb(218, 211, 211); 
}

#boxContainer input{
    float:left;
    background-color:white;
    color:green;
    font-size:20px;
    text-align:center;
    width: 50px;
    height:50px;
    margin: 4px auto 2px auto;
    border: 5px solid rgb(146, 91, 9);
    border-radius:45px;
    border-style:inset;
    outline:none;
    appearance: none;
    margin-left:10px;
    
}

#boxContainer h1{
    margin: 25px 5px 15px 10px;
    color:white;
    font-size:1em;
    text-wrap:10em;
}