#TandPContainer{
    margin-top: 50px;
}

#TandPCanvas{
    border-radius: 15px;
}

#Terrance{
    display:none;
}
#Phillip{
    display:none;
}
#Terrance2{
    display:none;
}
#Phillip2{
    display:none;
}