body{
    background-color:white;
    text-align: center;
}

#indexNav{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 100px;
    background-color:transparent;
}

#sandboxNav{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 100px;
    background-color:transparent;
}

a{
    width: 50px;
    text-align: center;
    font-size:30px;
    text-decoration: none;
    color: inherit;
}

*:focus {outline:none}

button{
    border: none;
    background-color:transparent;
    border-radius: 25px;
}


  [id^=modal] {
    display: none;
    border: 1px solid red;
    transform: translate(-50%,-50%);
    min-height: 3em;
    min-width: 5em;
    max-width: 10em;
    }
  input[type=checkbox] {
    position: absolute;
    clip: rect(0 0 0 0);
    }
  #modal1:target {
    display: block;
    }
  #modal2:target {
    display: block;
    }
  #modal3:target {
    display: block;
    }
  #modal4:target {
    display: block;
    }
  #modal5:target {
    display: block;
    }
  #modal6:target {
    display: block;
    }
  [id^=modal] a {
    float: right;
    }