body{
    background-color:white;
    text-align: center;
}

#header{
    background-color:#27AAE1;
}

#canvasNav{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 100px;
    background-color:#27AAE1;
    border: 2px solid #27AAE1;
    border-radius: 25px;
}

#sandboxNav{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 100px;
    background-color: #27AAE1;
    border: 2px solid #27AAE1;
    border-radius: 25px;
}

a{
    width: 50px;
    text-align: center;
    font-size:30px;
    text-decoration: none;
    color: inherit;
}

*:focus {outline:none}

button{
    border: none;
    background-color:transparent;
    border-radius: 25px;
}


  [id^=modal] {
    display: none;
    position: absolute;
    left: 50%;
    width: 523px;
    height: 300px;
    border: 2px solid #27AAE1;
    transform: translate(-50%,-50%);
    min-height: 3em;
    min-width: 5em;
    padding: 20px;
    margin: 50px auto 50px auto;
    text-align: center;
    }

  #modal1:target {
    display: block;
    background-color:white;
    border-radius: 25px;
    }
  #modal2:target {
    display: block;
    background-color:white;
    border-radius: 25px;
    }
  #modal3:target {
    display: block;
    background-color:white;
    border-radius: 25px;
    }
  #modal4:target {
    display: block;
    background-color:white;
    border-radius: 25px;
    }
  #modal5:target {
    display: block;
    background-color:white;
    border-radius: 25px;
    }
  #modal6:target {
    display: block;
    background-color:white;
    border-radius: 25px;
    }
  #modal7:target {
    display: block;
    background-color:white;
    border-radius: 25px;
    }
  #modal8:target {
    display: block;
    background-color:white;
    border-radius: 25px;
    }
  #modal9:target {
    display: block;
    background-color:white;
    border-radius: 25px;
    }
  #modal10:target {
    display: block;
    background-color:white;
    border-radius: 25px;
    }  
  #modal11:target {
    display: block;
    background-color:white;
    border-radius: 25px;
    }
  #modal12:target {
    display: block;
    background-color:white;
    border-radius: 25px;
    }              
  [id^=modal] .modalClose {
    float: right;
    }

h1{
    margin: 0px auto 5px auto;
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}