#hudContainer{
    text-align:center;
    margin: 30px auto;
    border: 5px solid white;
    background-color:black;
    border-radius:25px;
    width:90%vw;
    height:675px;
}

#hudCanvas{
    margin:20px auto;
    display:inline-block;
}