#canvasContainer{
    text-align:center;
    margin: 30px auto;
    border: 5px solid grey;
    border-radius:25px;
    width:1000px;
    height:600px;
}

#indexCanvas{
    display:inline-block;
    border-radius:25px;
}