body{
    background-color:black;
}

#buttonContainer{
    background-color:white;
    border-radius: 90px;
    border: 2px solid grey;
    text-align: center;
    width:100px;
    height:100px;
    position: fixed;
    top: 45px;
    left: 55px;
}

#btn1{
    background-color:transparent;
    border-color:transparent;
    color : grey;
    border-radius: 90px;
    width:100px;
    height:100px;
    outline:none;
    font-size: 25px;
}

#indexNav{
    display:none;
    position: fixed;
    top: 130px;
    left: 0px;
    text-align: center;
    width: 175px;
    height: 300px;
    background-color:transparent;

}

a{
    width: 20px;
    margin:auto;
    text-align: center;
    font-size:30px;
    color:white;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

#canvasContainer{
    text-align:center;
    margin: 30px auto;
    border: 5px solid grey;
    border-radius:25px;
    width:1000px;
    height:600px;
}

#indexCanvas{
    display:inline-block;
    border-radius:25px;
}