body{
    background-color:black;
}

#gameContainer{
    border: 5px solid grey;
    border-radius:25px;
    width:1400px;
    height:720px;
}

#gameCanvas{
    border-radius:25px;
}

#gameContainer02{
    border: 5px solid grey;
    border-radius:25px;
    width:1400px;
    height:720px;
}

#gameCanvas02{
    border-radius:25px;
}

#gameContainer03{
    border: 5px solid grey;
    border-radius:25px;
    width:1000px;
    height:720px;
}

#gameCanvas03{
    border-radius:25px;
}