body{
    background-color:black;
}

#nav{
    display:block;
    margin:auto;
    text-align: center;
}

a{
    font-size:30px;
    color:white;
    text-decoration: none;
}

#gameContainer{
    border: 5px solid grey;
    border-radius:25px;
    width:1400px;
    height:720px;
}

#gameCanvas{
    border-radius:25px;
}

#gameContainer02{
    border: 5px solid grey;
    border-radius:25px;
    width:1400px;
    height:720px;
}

#gameCanvas02{
    border-radius:25px;
}

#gameContainer03{
    border: 5px solid grey;
    border-radius:25px;
    width:1000px;
    height:620px;
}

#gameCanvas03{
    border-radius:25px;
}

#gameContainer04{
    display:block;
    margin:auto;
    border: 5px solid grey;
    border-radius:25px;
    width:800px;
    height:620px;
}

#gameCanvas04{
    margin:auto;
    border-radius:25px;
}

#canvases{
    display:block;
    margin:auto;
    text-align: center;
}

#gameContainer05{
    display:inline-block;
    margin:auto;
    border: 5px solid grey;
    border-radius:25px;
    width:300px;
    height:300px;
}

#gameCanvas05{
    border-radius:25px;
}

#gameContainer06{
    display:inline-block;
    margin:auto;
    border: 5px solid grey;
    border-radius:25px;
    width:300px;
    height:300px;
}

#gameCanvas06{
    border-radius:25px;
}